body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

#clock {
    font-size: 5em;
    font-family: 'Arial', sans-serif;
    color:red;
    /* padding-top: 280px;
    padding-left: 200px;
    margin-bottom: 10px;
     */
     padding-left: 90px;
     padding-top: 220px;
    background-repeat: no-repeat;
}
.maindiv{
     height: 80vh;
     width: 45%;
     background-color: black;
     background-image: url(images\ \(30\).jpeg);
     background-repeat: no-repeat;
    background-size: auto;
     
    

}
